body{
	
	background-color:#e8eaec
}

#contenitore{
	
	margin-left: 50%;
	margin-right: 50%;
	margin:0 auto;
	width:1000px;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.81);
	-moz-box-shadow:    0px 2px 10px 0px rgba(50, 50, 50, 0.81);
	box-shadow:         0px 2px 10px 0px rgba(50, 50, 50, 0.81); 

	
}

#img {
    position: absolute;
    width: 1000px;
    height: auto;
}

#info {
     position: absolute;
     width: 50%;
 }

#mecca {
    position: absolute;
    left: 50%;
    width: 50%;
}

#lavoro {
    position: absolute;
    width: 50%;
    top: 50%;
}

#uni {
    position: absolute;
    left: 50%;
    width: 50%;
    top: 50%;
}

#parteSopra{
	
	background-color: #598393;
	
}

#parteCentro{
	
	width:1000px;
	height:700px;
	background-color: #598393;
	
}

#parteSotto{
	
	width:1000px;
	height:1313px;
	background-color: #598393;
	
}

#videoPubblicitario{
	
	background-color: #598393;
 
	
}
